*.iml
.gradle
/local.properties
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/hidden-refine-api/build/
/app/src/main/cpp/libjamesdsp/Main/DSPManager/.idea
/app/src/main/cpp/libjamesdsp/Main/DSPManager/DSPManager.iml
`n/app/build/`n/codeview/build/`n/hidden-api-impl/build/`n/hidden-api-refined/build/`n/hidden-api-stubs/build/`n/buildSrc/build/`n*.apk`n*.aar`n*.bin`n*.onnx
